### <center>Practical 9</center>

#### WAP to calculate the factorial of a number

In [1]:
print("Chaudhary kanishk")
def main():
    x = int(input("Enter a number: "))
    print(f"Enter a number: {x}")
    print(f"Factorial of {x} is {factorial(x)}")
    
def factorial(x):
    if x < 1:
        return 1
    else:
        fact = 1;
        while x > 0:
            fact *= x;
            x -= 1
        return fact
main()

Chaudhary kanishk
Enter a number: 5
Factorial of 5 is 120

#### WAP to print multiplication table

In [2]:
print("Chaudhary kanishk")
def print_multiplication_table(x):
    for i in range(10):
        print(f"{i+1} * {x} = {x*(i+1)}")
        
x = int(input("Enter the number = "))
print("Enter the number =", x)
print_multiplication_table(x)

Chaudhary kanishk
Enter the number = 3
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30

#### WAP to print the sum of the following nth series
##### (a) 1 + 1/2 + 1/9 + . . . + (1/n^2)
##### (b) 1 + (1+2) + (1+2+3) + . . . + (1+2+3+4+. . .+n)
##### (c) sin(x) = x - x^3/3! + x^5/5! - x^7/7! + x^9/9!
##### (d) cos(x) = 1 - x^2/2! + x^4/4! - x^6/6! + x^78/8!
##### (e) 1 - x + x^2/2! - x^3/3! + . . . + x^n/n!

In [3]:
# (a) 1 + 1/2 + 1/9 + . . . + (1/n^2)
print("Chaudhary kanishk")
def a_series(n):
    sum = 0
    for i in range(1, n+1):
        sum += 1/(i**2)
    return sum

n = int(input("Enter the number of terms = "))
print("Enter the number of terms =", n)
print("sum =", a_series(n))

Chaudhary kanishk
Enter the number of terms = 2
sum = 1.25

In [4]:
# (b) 1 + (1+2) + (1+2+3) + . . . + (1+2+3+4+. . .+n)
print("Chaudhary kanishk")
def b_series(n):
    sum = 0
    for i in range(1, n+1):
        sum += (i*(i+1))/2
    return sum

n = int(input("Enter the number of terms = "))
print("Enter the number of terms =", n)
print("sum =", b_series(n))

Chaudhary kanishk
Enter the number of terms = 3
sum = 10.0

In [5]:
# (c) sin(x) = x - x^3/3! + x^5/5! - x^7/7! + x^9/9!
print("Chaudhary kanishk")

import math
def c_series(n, x):
    sum = 0
    sign = 1
    for i in range(1, 2*n, 2):
        fact = math.factorial(i)
        sum +=  sign*((x**i)/fact)
        sign *= -1
    return sum

n = int(input("Enter the number of terms = "))
x = int(input("Enter x = "))
print("Enter the number of terms =", n)
print("Enter x = ", x)
print(f"sin({x}) = {c_series(n, x)}")

Chaudhary kanishk

Enter the number of terms = 2
Enter x =  1
sin(1) = 0.8333333333333334

In [6]:
# (d) cos(x) = 1 - x^2/2! + x^4/4! - x^6/6! + x^8/8!
print("Chaudhary kanishk")

def d_series(n, x):
    sum = 0
    sign = 1
    for i in range(0, 2*n, 2):
        fact = math.factorial(i)
        sum += sign*((x**i)/fact)
        sign *= -1
    return sum

n = int(input("Enter the number of terms = "))
x = int(input("Enter x = "))
print("Enter the number of terms =", n)
print("Enter x =", x)
print(f"cos({x}) = {d_series(n, x)}")

Chaudhary kanishk
Enter the number of terms = 2
Enter x = 1
cos(1) = 0.5

In [7]:
# (e) 1 - x + x^2/2! - x^3/3! + . . . + x^n/n!
print("Chaudhary kanishk")

def e_series(n, x):
    sum = 0
    sign = 1
    for i in range(0, n):
        fact = math.factorial(i)
        sum += sign*((x**i)/fact)
        sign *= -1
    return sum

n = int(input("Enter the number of terms = "))
x = int(input("Enter x = "))
print("Enter the number of terms =", n)
print("Enter x =", x)
print(f"sum = {e_series(n, x)}")

Chaudhary kanishk
Enter the number of terms = 3
Enter x = 1
sum = 0.5

### WAP to pritn following paterns
<pre>
(a) 1
    1 2
    1 2 3
    1 2 3 4

(b)       1
        2 1
      3 2 1
    4 3 2 1

(c)       1
        2 1 2
      3 2 1 2 3
    4 3 2 1 2 3 4

(d) ****
    *  *
    *  *
    ****

(e) 1
    0 1
    1 0 1

(f)     1
      1 2 1
    1 2 3 2 1
      1 2 1
        1
</pre>

In [16]:
# pattern a
print("Chaudhary kanishk")

height = int(input("Height = "))

for i in range(height):
    for j in range(i+1):
        print(j+1, end="")
    print()

Chaudhary kanishk
1
12
123
1234
12345

In [17]:
# pattern b
print("Chaudhary kanishk")

height = int(input("Height = "))

for i in range(height):
    print(" "*(height-i+1), end="")    
    for j in range(i+1):
        print(j+1, end="")
    print()

Chaudhary kanishk
      1
     12
    123
   1234
  12345

In [18]:
# pattern c
print("Chaudhary kanishk")

height = int(input("Height = "))

for i in range(height):
    print(" "*(height-i+1), end="")    
    for j in range(i+1):
        print(j+1, end="")
    for j in range(i):
        print(i-j, end="")
    print()

Chaudhary kanishk
      1
     121
    12321
   1234321
  123454321

In [19]:
# pattern d
print("Chaudhary kanishk")

height = int(input("Height = "))

for i in range(height):
    if ((i==0) or (i==height-1)):
        print("*"*height, end="")
    else:
        for j in range(height):
            if ((j==0) or (j==height-1)):
                print("*", end="")
            else:
                print(" ", end="")
    print()

Chaudhary kanishk
*****
*   *
*   *
*   *
*****

In [12]:
# pattern e
print("Chaudhary kanishk")

height = int(input("Height = "))
x = 1
for i in range(height):
    if i%2 == 0:
        x = 1
    else:
        x = 0
    for j in range(i+1):
        print(x, end="")
        if x==1:
            x = 0
        else:
            x = 1
    print()

Chaudhary kanishk
1
01
101
0101
10101

In [13]:
# parrten f
print("Chaudhary kanishk")

# prints 1 2 3 2 1
def print_pattern(size):
    for i in range(1, size + 1):
        print(i, end=" ")

    for i in range(size - 1, 0, -1):
        print(i, end=" ")

size = int(input("Enter the size : "))
print("Enter the size :", size)
for i in range(1, size+1):
    if i > (size+1)//2:
        print(" "*((i*2) - (size + 1)), end="")
        print_pattern(size + 1 - i)
    else:
        print(" "*((size + 1) - (i*2)), end="")
        print_pattern(i)
    print()

Chaudhary kanishk
Enter the size : 5
    1
  1 2 1
1 2 3 2 1
  1 2 1
    1

### WAP to calculate squre root of a no. demonstrate the use of cotinue and break statement

In [14]:
print("Chaudhary kanishk")

import math

while True:
    num = float(input("Enter a number (enter -2 to exit) : "))
    print("Enter a number : ", num)
    if num == -2:
        print("Exiting")
        break
    if num < 0:
        print("Please enter a non-negative number.")
        continue
    result = math.sqrt(num)
    print(f"The square root of {num} is {result}")

Chaudhary kanishk
Enter a number :  5.0
The square root of 5.0 is 2.23606797749979
Enter a number :  2.0
The square root of 2.0 is 1.4142135623730951
Enter a number :  -2.0
Exiting

### WAP to demonstrate pass statement

In [15]:
print("Chaudhary kanishk")

li =['a', 'b', 'c', 'd']
 
for i in li:
    if(i =='b'):
        pass
    else:
        print(i)

Chaudhary kanishk
a
c
d